@model RecipiesModelNS.ProductCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ProductCategory</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ModifiedByUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedByUser)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {/* id=Model.PrimaryKey */}) |
    @Html.ActionLink("Back to List", "Index")
</p>